.navbar {
    display: inline;
}

body {
    font-family: 'Roboto', sans-serif;
}

.my-class {
    /* CSS properties */
}

.nav-bar {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}

.nav-bar li {
    display: inline;
    float: left;
}

.nav-bar li a {
    display: block;
    color: beige;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: #555;
}
